{{ define "posts/index.tmpl"}}
    <!DOCTYPE html>
    <html lang="en">
    <head>
        <title>posts</title>
        <link rel="stylesheet" href="/xxx/index.css">
    </head>
    <body>
    <p>{{ .title }}</p>
    <script src="/xxx/index.js"></script>
    </body>
    </html>
{{end}}